
@import './UIKit/main';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Helvetica Neue', 'SpaceGrotesk'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
